#todo-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
#todo-form input {
  border: none;
  border-bottom: 3px solid white;
  background: none;
  color: inherit;
  text-align: center;
  width: 50vw;
  font-size: 28px;
}
#todo-list {
  list-style-type: none;
  padding: 0;
  font-size: 22px;
}
#todo-list li button {
  background: none;
  border: none;
  font-size: 16px;
}
